/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/accountRegister/banner_accountRegister.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

/* 主要內容區-帳戶登入前內容 */

.content_accountLRF {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/accountRegister/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}