*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px 8px;
    margin: 0 10px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/aboutUs/banner_aboutUs.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區-店內角落圖&內文&花朵飄散背景 */

.content_corner {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.content_corner img {
    width: 40%;
    margin: 30px 0;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.content_corner img.appear {
    opacity: 1;
}

.content_corner .cornerText {
    margin-bottom: 50px;
}

.content_corner .cornerText p {
    letter-spacing: 1px;
    line-height: 35px;
    position: relative;
    top: 20px;
    opacity: 0;
    transition: top .8s ease-in-out, opacity .8s ease-in-out;
}

.content_corner .cornerText p.locate01 {
    top: 0;
    opacity: 1;
}

@keyframes Drop1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        /* transform如果有複數效果，中間空一格即可 */
        transform: translate(-400px, 680px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes Drop2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-300px, 680px) rotate(-180deg);
        opacity: 0;
    }
}

@keyframes Drop3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-350px, 680px) rotate(200deg);
        opacity: 0;
    }
}

.cornerTextBgFlower.locate02 div {
    background: url(../images/aboutUs/flower.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    opacity: 0;
    position: absolute;
    right: 0;
}

.cornerTextBgFlower.locate02 div.flowerDrop01 {
    left: 50%;
    animation: Drop1 10s ease-in infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop02 {
    left: 55%;
    animation: Drop2 9.4s ease-in-out 0.4s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop03 {
    left: 57%;
    animation: Drop3 10.8s ease-in-out 0.8s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop04 {
    left: 60%;
    animation: Drop1 9.8s ease-in-out infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop05 {
    left: 68%;
    animation: Drop2 8.8s ease-in-out 2s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop06 {
    left: 70%;
    animation: Drop3 9.4s ease-in-out 1s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop07 {
    left: 72%;
    animation: Drop1 9.4s ease-in-out 2.4s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop08 {
    left: 75%;
    animation: Drop2 10s ease-in-out 2.8s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop09 {
    left: 80%;
    animation: Drop3 10.8s ease-in-out 0.8s infinite;
}

.cornerTextBgFlower.locate02 div.flowerDrop10 {
    left: 81%;
    animation: Drop1 9.4s ease-in-out 2.4s infinite;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {
    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }
    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }
    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    .header_nav .navContent label::before {
        top: 0;
    }
    .header_nav .navContent label::after {
        top: 100%;
    }
    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }
    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }
    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }
    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }
    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }
    .header_nav .navContent ul li a {
        color: #fafafa;
        padding: 5px;
        transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
    }
    .header_nav .navContent ul li:hover a {
        box-shadow: 0 0 10px #fafafa;
        border-radius: 5px;
    }
    /* 頂部內容區-背景圖&分頁標題註記 */
    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }
    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }
    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }
    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }
    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }
    /* 主要內容區-店內角落圖&內文&花朵飄散背景 */
    .content_corner img {
        width: 70%;
    }
    .content_corner .cornerText {
        padding: 0 10px;
    }
    .content_corner .cornerText p {
        letter-spacing: 0;
        line-height: 30px;
        font-size: 15px;
    }
    .cornerTextBgFlower.locate02 div {
        width: 30px;
        height: 30px;
    }    
    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }
    .detailText p {
        text-align: center;
    }
    .detailText01 {
        margin-top: 5%;
    }
    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }
    .detailText03 {
        margin-top: 5%;
    }
    .detailText .detailText01 span, .detailText .detailText02 ul li a, .detailText .detailText03 span {
        font-size: 15px;
    }
    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}