* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

body.fixed {
    overflow: hidden;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/accountCenter/banner_accountCenter.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區-帳戶中心導覽與內容 */

.content_accountCenter {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
}

.content_accountCenter>div:not(:nth-child(1)) {
    width: 80%;
    min-height: 600px;
}

.content_accountCenter>div.hidden {
    display: none;
}

/* 主要內容區-帳戶中心導覽與內容(側邊導覽) */

.content_accountCenter .accountCenterMenu {
    width: 20%;
}

.content_accountCenter .accountCenterMenu ul {
    text-align: center;
}

.content_accountCenter .accountCenterMenu ul li {
    color: #fffaf2;
    background: #9ba4a4;
    display: inline-flex;
    align-items: center;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: background .3s ease-in-out, box-shadow .3s ease-in-out;
}

.content_accountCenter .accountCenterMenu ul li:hover {
    background: #b48f5e;
    box-shadow: 0 0 3px 2px #b48f5e;
}

.content_accountCenter .accountCenterMenu ul li.focus {
    background: #242424;
    pointer-events: none;
}

.content_accountCenter .accountCenterMenu ul li i {
    font-size: 16px;
    margin-right: 5px;
    color: #fffaf2;
}

/* 主要內容區-帳戶中心導覽與內容(訂單查詢) */
.content_accountCenter .orderInquiryArea .orderInquiryMenu ul {
    display: flex;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li {
    color: #9ba4a4;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0;
    margin: 0 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: color .3s ease-in-out;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: background .3s ease-in-out;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li:hover {
    color: #bb7008;
    text-shadow: 0 0 3px #b48f5e;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li:hover::after {
    background: #bb7008;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li.focus {
    color: #242424;
    pointer-events: none;
}

.content_accountCenter .orderInquiryArea .orderInquiryMenu ul li.focus::after {
    background: #242424;
}

.content_accountCenter .orderInquiryArea hr {
    background: #c6caca;
    height: 2px;
    border: none;
    margin-bottom: 15px;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo h6 {
    font-weight: 600;
    font-size: 18px;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo p a {
    font-weight: 600;
    color: #ad8316;
    position: relative;
    transition: color .3s ease-in-out;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo p a:hover {
    color: #7e5f10;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo p a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #7e5f10;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s ease-in-out;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo p a:hover::after {
    width: 100%;
}

.content_accountCenter .orderInquiryArea .orderInquiryInfo p span {
    background: #d3bc82;
}

/* 主要內容區-帳戶中心導覽與內容(修改資訊) */

.content_accountCenter .editArea>div:not(:nth-child(1)).hidden {
    display: none;
}

.content_accountCenter .editArea .editMenu ul {
    display: flex;
}

.content_accountCenter .editArea .editMenu ul li {
    color: #9ba4a4;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0;
    margin: 0 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: color .3s ease-in-out;
}

.content_accountCenter .editArea .editMenu ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: background .3s ease-in-out;
}

.content_accountCenter .editArea .editMenu ul li:hover {
    color: #bb7008;
    text-shadow: 0 0 3px #b48f5e;
}

.content_accountCenter .editArea .editMenu ul li:hover::after {
    background: #bb7008;
}

.content_accountCenter .editArea .editMenu ul li.focus {
    color: #242424;
    pointer-events: none;
}

.content_accountCenter .editArea .editMenu ul li.focus::after {
    background: #242424;
}

.content_accountCenter .editArea hr {
    background: #c6caca;
    height: 2px;
    border: none;
}

.content_accountCenter .editArea form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.content_accountCenter .editArea form .aFormTipMsg01,
.content_accountCenter .editArea form .aFormTipMsg02,
.content_accountCenter .editArea form .pFormTipMsg01,
.content_accountCenter .editArea form .pFormTipMsg02,
.content_accountCenter .editArea form .pFormTipMsg03 {
    font-size: 14px;
    position: absolute;
    top: 70px;
}

.content_accountCenter .editArea form .aFormTipMsg01.yellow,
.content_accountCenter .editArea form .aFormTipMsg02.yellow,
.content_accountCenter .editArea form .pFormTipMsg01.yellow,
.content_accountCenter .editArea form .pFormTipMsg02.yellow,
.content_accountCenter .editArea form .pFormTipMsg03.yellow {
    color: #bb7008;
}

.content_accountCenter .editArea form .aFormTipMsg01.red,
.content_accountCenter .editArea form .aFormTipMsg02.red,
.content_accountCenter .editArea form .pFormTipMsg01.red,
.content_accountCenter .editArea form .pFormTipMsg02.red,
.content_accountCenter .editArea form .pFormTipMsg03.red {
    color: #e76f51;
}

.content_accountCenter .editArea form>p {
    width: 100%;
    margin: 15px 0;
    font-weight: 600;
    font-size: 20px;
}

.content_accountCenter .editArea form .aFormOption,
.content_accountCenter .editArea form .pFormOption {
    position: relative;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content_accountCenter .editArea form .aFormOption input,
.content_accountCenter .editArea form .pFormOption input {
    height: 35px;
    width: 80%;
    font-weight: 600;
    outline: none;
    border: 1px solid #9ba4a4;
    border-radius: 5px;
    padding: 0 10px;
}

.content_accountCenter .editArea form .aFormOption input:focus,
.content_accountCenter .editArea form .pFormOption input:focus {
    border: 2px solid #b48f5e;
    color: #bb7008;
    box-shadow: 0 0 5px 1px #b48f5e;
}

.content_accountCenter .editArea form .aFormOption label:first-child,
.content_accountCenter .editArea form .pFormOption label:first-child {
    line-height: 35px;
    margin-right: 10px;
}

.content_accountCenter .editArea form .aFormOption label:first-child span,
.content_accountCenter .editArea form .pFormOption label:first-child span {
    position: relative;
}

.content_accountCenter .editArea form .aFormOption.required label:first-child span::after,
.content_accountCenter .editArea form .pFormOption.required label:first-child span::after {
    content: '*';
    padding-left: 2px;
    position: absolute;
    left: 100%;
    font-size: 30px;
    color: #e76f51;
}

.content_accountCenter .editArea form .aFormOption label:first-child i,
.content_accountCenter .editArea form .pFormOption label:first-child i {
    margin-right: 5px;
}

.content_accountCenter .editArea form .pFormRemind {
    padding: 15px;
    width: 300px;
    position: absolute;
    top: 35px;
    border-radius: 5px;
    background: #e76f51;
    opacity: 0;
    z-index: -1;
}

.content_accountCenter .editArea form .pFormRemind.appear {
    opacity: 1;
    z-index: 1;
}

.content_accountCenter .editArea form .pFormRemind::after {
    content: '';
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 40% 100%);
    width: 12px;
    height: 12px;
    background: #e76f51;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.content_accountCenter .editArea form .pFormRemind h6 {
    color: #fffaf2;
}

.content_accountCenter .editArea form .pFormRemind p {
    color: #fffaf2;
    font-size: 14px;
}

.content_accountCenter .editArea form .aFormOption.aBirthday {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_accountCenter .editArea form .aFormOption.aBirthday label {
    width: 100%;
}

.content_accountCenter .editArea form .aFormOption.aBirthday select {
    width: 30%;
    height: 35px;
    font-weight: 600;
    outline: none;
    border: 1px solid #9ba4a4;
    border-radius: 5px;
    padding: 0 5px;
}

.content_accountCenter .editArea form .aFormOption.aBirthday select:focus {
    border: 2px solid #b48f5e;
    color: #bb7008;
    box-shadow: 0 0 5px 1px #b48f5e;
}

.content_accountCenter .editArea form .aFormOption input.disabled,
.content_accountCenter .editArea form .pFormOption input.disabled,
.content_accountCenter .editArea form .pFormOption input.disabled~label {
    background: #ececec;
    pointer-events: none;
    user-select: none;
}

.content_accountCenter .editArea form .aFormOption.aVerify button {
    height: 31px;
    padding: 0 10px;
    position: absolute;
    right: 21%;
    bottom: 2px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #457b9d;
    color: #fffaf2;
    cursor: pointer;
}

.content_accountCenter .editArea form .aFormOption.aVerify button:hover {
    background: #31576e;
    color: #fffaf2;
}

.content_accountCenter .editArea form .aFormOption.aVerify button.disabled {
    background: #9acdec;
    pointer-events: none;
}

.content_accountCenter .editArea form .pFormOption.pPassword {
    width: 100%;
}

.content_accountCenter .editArea form .pFormOption.pPassword input {
    width: 40%;
}

.content_accountCenter .editArea form .pFormOption.pPassword input+label {
    position: absolute;
    top: 75%;
    right: 61%;
    transform: translateY(-50%);
    cursor: pointer;
}

.content_accountCenter .editArea form .pFormOption input+label {
    position: absolute;
    top: 75%;
    right: 22%;
    transform: translateY(-50%);
    cursor: pointer;
}

.content_accountCenter .editArea form .pFormOption input:focus+label i {
    color: #b48f5e;
}

.content_accountCenter .editArea form .pFormOption.pConfirmPassword>i {
    position: absolute;
    top: 75%;
    right: 30%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #6eba44;
    display: none;
}

.content_accountCenter .editArea form .pFormOption.pConfirmPassword>i.appear {
    display: block;
}

.content_accountCenter .editArea form hr {
    background: #c6caca;
    height: 1px;
    width: 100%;
    border: none;
    margin-top: 20px;
}

.content_accountCenter .editArea form .socialLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_accountCenter .editArea form .socialLogin>div {
    margin-bottom: 17px;
}

.content_accountCenter .editArea form .socialLogin>div span:first-child {
    width: 40%;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fffaf2;
    font-weight: 600;
    position: relative;
    pointer-events: none;
}

.content_accountCenter .editArea form .socialLogin .slFb span:first-child {
    background: #3a60d0;
}

.content_accountCenter .editArea form .socialLogin .slGoogle span:first-child {
    background: #4285f4;
}

.content_accountCenter .editArea form .socialLogin .slApple span:first-child {
    background: #000;
}

.content_accountCenter .editArea form .socialLogin>div span:first-child i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fffaf2;
    font-weight: 600;
    font-size: 16px;
}

.content_accountCenter .editArea form .socialLogin .slGoogle span:first-child i {
    font-size: 15px;
}

.content_accountCenter .editArea form .socialLogin>div span:nth-child(2) {
    color: #e76f51;
    font-weight: 600;
}

.content_accountCenter .editArea form .socialLogin>div a {
    font-weight: 600;
    color: #9ba4a4;
    position: relative;
    transition: color .3s ease-in-out;
}

.content_accountCenter .editArea form .socialLogin>div a:hover {
    color: #242424;
}

.content_accountCenter .editArea form .socialLogin>div a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #242424;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s ease-in-out;
}

.content_accountCenter .editArea form .socialLogin>div a:hover::after {
    width: 100%;
}

.content_accountCenter .editArea form .aFormSubmit,
.content_accountCenter .editArea form .pFormSubmit {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.content_accountCenter .editArea form .aFormSubmit input,
.content_accountCenter .editArea form .pFormSubmit input {
    height: 35px;
    width: 40%;
    font-weight: 600;
    color: #fffaf2;
    background: #b48f5e;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background .3s ease-in-out;
}

.content_accountCenter .editArea form .aFormSubmit input:hover,
.content_accountCenter .editArea form .pFormSubmit input:hover {
    background: #bb7008;
}

/* 主要內容區-帳戶中心導覽與內容(帳戶登出) */
.content_accountCenter div.logoutArea {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.content_accountCenter div.logoutArea.hidden {
    display: none;
}

.content_accountCenter div.logoutArea .logoutAreaMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(221 190 169 /.5);
}

.content_accountCenter div.logoutArea .logoutConfirm {
    width: 300px;
    height: 200px;
    color: #fafafa;
    background: rgb(19 19 19 / .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content_accountCenter div.logoutArea .logoutConfirm p {
    color: #fafafa;
    margin-bottom: 20px;
}

.content_accountCenter div.logoutArea .logoutConfirm p i {
    color: #fafafa;
    font-size: 16px;
    margin-right: 5px;
}

.content_accountCenter div.logoutArea .logoutConfirm button {
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fffaf2;
    background: #b48f5e;
    font-weight: 600;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.content_accountCenter div.logoutArea .logoutConfirm button:hover {
    background: #bb7008;
}

.content_accountCenter div.logoutArea .logoutConfirm>i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #b48f5e;
    font-size: 25px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.content_accountCenter div.logoutArea .logoutConfirm>i:hover {
    color: #bb7008;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 10%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {

    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }

    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }

    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }

    .header_nav .navContent label::before {
        top: 0;
    }

    .header_nav .navContent label::after {
        top: 100%;
    }

    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }

    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }

    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }

    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }

    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }

    .header_nav .navContent ul li.navContentTool {
        margin: 5px 0;
    }

    .header_nav .navContent ul li.navContentTool a i {
        margin: 0 3px;
    }

    /* 頂部內容區-背景圖&分頁標題註記 */
    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }

    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }

    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }

    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }

    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }

    /* 主要內容區-帳戶中心導覽與內容 */
    * {
        font-size: 15px;
    }

    .content_accountCenter>div:not(:nth-child(1)) {
        width: 100%;
        min-height: auto;
    }

    /* 主要內容區-帳戶中心導覽與內容(側邊導覽) */

    .content_accountCenter .accountCenterMenu {
        width: 100%;
    }

    .content_accountCenter .accountCenterMenu ul li {
        height: 30px;
        padding: 0;
        justify-content: center;
        width: 100%;
        font-size: 17px;
        margin-bottom: 12px;
    }

    .content_accountCenter .accountCenterMenu ul li i {
        font-size: 15px;
    }

    /* 主要內容區-帳戶中心導覽與內容(訂單查詢) */

    .content_accountCenter .orderInquiryArea .orderInquiryMenu ul li {
        font-size: 17px;
        padding: 3px 0;
        margin: 0 10px;
    }

    .content_accountCenter .orderInquiryArea .orderInquiryInfo h6 {
        font-size: 16px;
    }

    /* 主要內容區-帳戶中心導覽與內容(修改資訊) */

    .content_accountCenter .editArea .editMenu ul li {
        font-size: 17px;
        padding: 3px 0;
        margin: 0 10px;
    }

    .content_accountCenter .editArea form .aFormTipMsg01,
    .content_accountCenter .editArea form .aFormTipMsg02,
    .content_accountCenter .editArea form .pFormTipMsg01,
    .content_accountCenter .editArea form .pFormTipMsg02,
    .content_accountCenter .editArea form .pFormTipMsg03 {
        top: 60px;
    }

    .content_accountCenter .editArea form>p {
        font-size: 17px;
    }

    .content_accountCenter .editArea form .aFormOption,
    .content_accountCenter .editArea form .pFormOption {
        width: 100%;
    }

    .content_accountCenter .editArea form .aFormOption input,
    .content_accountCenter .editArea form .pFormOption input {
        height: 30px;
        width: 100%;
    }

    .content_accountCenter .editArea form .aFormOption label:first-child,
    .content_accountCenter .editArea form .pFormOption label:first-child {
        line-height: 30px;
        margin-right: 5px;
    }

    .content_accountCenter .editArea form .aFormOption.required label:first-child span::after,
    .content_accountCenter .editArea form .pFormOption.required label:first-child span::after {
        font-size: 23px;
    }

    .content_accountCenter .editArea form .aFormOption label:first-child i,
    .content_accountCenter .editArea form .pFormOption label:first-child i {
        margin-right: 5px;
    }

    .content_accountCenter .editArea form .pFormRemind {
        top: 33px;
    }

    .content_accountCenter .editArea form .pFormRemind::after {
        top: 115px;
    }

    .content_accountCenter .editArea form .pFormRemind p {
        font-size: 13px;
    }

    .content_accountCenter .editArea form .aFormOption.aBirthday select {
        height: 30px;
    }

    .content_accountCenter .editArea form .aFormOption.aVerify button {
        height: 26px;
        right: 2px;
    }

    .content_accountCenter .editArea form .pFormOption.pPassword input {
        width: 100%;
    }

    .content_accountCenter .editArea form .pFormOption.pPassword input+label,
    .content_accountCenter .editArea form .pFormOption input+label {
        right: 5px;
    }

    .content_accountCenter .editArea form .pFormOption.pConfirmPassword>i {
        right: 27px;
        font-size: 15px;
    }

    .content_accountCenter .editArea form .socialLogin>div {
        margin-bottom: 12px;
    }

    .content_accountCenter .editArea form .socialLogin>div span:first-child {
        width: 70%;
        height: 30px;
    }

    .content_accountCenter .editArea form .socialLogin>div span:first-child i {
        font-size: 15px;
    }

    .content_accountCenter .editArea form .socialLogin .slGoogle span:first-child i {
        font-size: 14px;
    }

    .content_accountCenter .editArea form .aFormSubmit,
    .content_accountCenter .editArea form .pFormSubmit {
        margin-top: 20px;
    }

    .content_accountCenter .editArea form .aFormSubmit input,
    .content_accountCenter .editArea form .pFormSubmit input {
        height: 30px;
        width: 100%;
    }

    /* 主要內容區-帳戶中心導覽與內容(帳戶登出) */

    .content_accountCenter div.logoutArea .logoutConfirm p i {
        font-size: 15px;
    }

    .content_accountCenter div.logoutArea .logoutConfirm button {
        height: 30px;
        padding: 0 8px;
    }

    .content_accountCenter div.logoutArea .logoutConfirm>i {
        top: 8px;
        right: 8px;
        font-size: 20px;
    }

    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }

    .detailText {
        width: 85%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }

    .detailText p {
        text-align: center;
    }

    .detailText01 {
        margin-top: 5%;
    }

    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }

    .detailText03 {
        margin-top: 5%;
    }

    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}