* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/accountLogin/banner_accountLogin.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區-會員登入 */

.content_accountLogin {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/accountLogin/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}

.content_accountLogin .accountLoginField {
    width: 50%;
    display: flex;
    justify-content: center;
}


.content_accountLogin .accountLoginField .dataArea {
    width: 330px;
    box-shadow: 0 0 20px 15px rgb(19 19 19 / 20%);
    padding: 15px 30px;
    background: rgb(19 19 19 / 70%);
}

.content_accountLogin .accountLoginField .dataArea>a {
    display: block;
    width: 70%;
    margin: 10px auto;
}

.content_accountLogin .accountLoginField .dataArea>a img {
    width: 100%;
}

.content_accountLogin .accountLoginField .dataArea p {
    font-weight: 600;
    font-size: 20px;
    color: #fafafa;
}

.content_accountLogin .accountLoginField .dataArea form {
    margin-top: 20px;
    position: relative;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption {
    position: relative;
    margin-bottom: 15px;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption input {
    height: 35px;
    width: 100%;
    font-weight: 600;
    outline: none;
    border: 1px solid #9ba4a4;
    border-radius: 5px;
    padding: 0 30px;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption input:focus {
    border: 2px solid #b48f5e;
    color: #bb7008;
    box-shadow: 0 0 5px 1px #b48f5e;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption input+label {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: text;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption.aPassword label+label {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption label i {
    font-size: 16px;
    color: #757575;
}

.content_accountLogin .accountLoginField .dataArea form .aFormOption input:focus~label i {
    color: #b48f5e;
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind {
    background: #fffaf2;
    padding: 15px;
    width: 100%;
    position: absolute;
    top: -48px;
    left: 290px;
    border: 1px solid #242424;
    background: rgb(255, 228, 228);
    opacity: 0;
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind.appear01 {
    opacity: 1;
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind.appear02 {
    top: 3px;
    opacity: 1;
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind::after {
    content: '';
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
    width: 12px;
    height: 12px;
    background: #fffaf2;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 228, 228);
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind h6 {
    color: rgb(224, 0, 0);
}

.content_accountLogin .accountLoginField .dataArea form .aFormRemind p {
    color: rgb(224, 0, 0);
    font-size: 14px;
}

.content_accountLogin .accountLoginField .dataArea form .aFormSubmit input {
    height: 35px;
    width: 100%;
    font-weight: 600;
    color: #fffaf2;
    background: #b48f5e;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background .3s ease-in-out;
}

.content_accountLogin .accountLoginField .dataArea form .aFormSubmit input:hover {
    background: #bb7008;
}

.content_accountLogin .accountLoginField .dataArea .changeOption {
    margin: 8px 0 30px 0;
    width: 100%;
    position: relative;
}

.content_accountLogin .accountLoginField .dataArea .changeOption a {
    font-size: 15px;
    color: #fafafa;
    font-weight: 600;
    cursor: pointer;
    transition: color .3s ease-in-out;
    position: relative;
}

.content_accountLogin .accountLoginField .dataArea .changeOption a:last-child {
    position: absolute;
    right: 0;
}

.content_accountLogin .accountLoginField .dataArea .changeOption a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #fafafa;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s ease-in-out;
}

.content_accountLogin .accountLoginField .dataArea .changeOption a:hover::after {
    width: 100%;
}

.content_accountLogin .accountLoginField .dataArea .seperate {
    width: 100%;
    color: #fafafa;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.content_accountLogin .accountLoginField .dataArea .seperate::before {
    content: '';
    width: 20%;
    height: 1px;
    background: #fafafa;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content_accountLogin .accountLoginField .dataArea .seperate::after {
    content: '';
    width: 20%;
    height: 1px;
    background: #fafafa;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content_accountLogin .accountLoginField .dataArea .socialLogin {
    margin: 30px 0;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    color: #fffaf2;
    font-weight: 600;
    transition: background .3s ease-in-out;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a:not(:last-child) {
    margin-bottom: 15px;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a.slFb {
    background: #3a60d0;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a.slGoogle {
    background: #4285f4;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a.slApple {
    background: #000;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a:hover {
    background: #b48f5e;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fffaf2;
    font-weight: 600;
    font-size: 16px;
}

.content_accountLogin .accountLoginField .dataArea .socialLogin a.slGoogle i {
    font-size: 15px;
}

.content_accountLogin .accountLoginPreface {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_accountLogin .accountLoginPreface p {
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 30px;
    text-shadow: 0px 0px 10px #fffaf2;
    font-weight: 600;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {

    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }

    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }

    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }

    .header_nav .navContent label::before {
        top: 0;
    }

    .header_nav .navContent label::after {
        top: 100%;
    }

    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }

    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }

    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }

    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }

    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }

    .header_nav .navContent ul li.navContentTool {
        margin: 5px 0;
    }

    .header_nav .navContent ul li.navContentTool a i {
        margin: 0 3px;
    }

    /* 頂部內容區-背景圖&分頁標題註記 */

    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }

    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }

    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }

    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }

    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }

    /* 主要內容區-會員登入 */

    *{
        font-size: 15px;
    }

    .content_accountLogin {
        flex-direction: column-reverse;
    }

    .content_accountLogin .accountLoginField {
        width: 100%;
    }


    .content_accountLogin .accountLoginField .dataArea {
        width: 280px;
        padding: 10px 15px;
    }

    .content_accountLogin .accountLoginField .dataArea p {
        font-size: 18px;
    }

    .content_accountLogin .accountLoginField .dataArea form {
        margin-top: 15px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormOption {
        margin-bottom: 12px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormOption input {
        height: 30px;
        padding: 0 25px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormOption input+label {
        width: 25px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormOption.aPassword label+label {
        width: 25px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormOption label i {
        font-size: 15px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormRemind {
        top: -156px;
        left: 0;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormRemind.appear02 {
        top: -115px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormRemind::after {
        clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
        left: 50%;
        top: 143px;
        transform: translateX(-50%);
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormRemind h6 {
        font-size: 15px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormRemind p {
        font-size: 13px;
    }

    .content_accountLogin .accountLoginField .dataArea form .aFormSubmit input {
        height: 30px;
    }

    .content_accountLogin .accountLoginField .dataArea .changeOption {
        margin: 5px 0 15px 0;
    }

    .content_accountLogin .accountLoginField .dataArea .changeOption a {
        font-size: 14px;
    }

    .content_accountLogin .accountLoginField .dataArea .seperate {
        font-size: 13px;
    }

    .content_accountLogin .accountLoginField .dataArea .seperate::before,
    .content_accountLogin .accountLoginField .dataArea .seperate::after {
        width: 23%;
    }

    .content_accountLogin .accountLoginField .dataArea .socialLogin {
        margin: 15px 0 30px 0;
    }

    .content_accountLogin .accountLoginField .dataArea .socialLogin a {
        height: 30px;
    }

    .content_accountLogin .accountLoginField .dataArea .socialLogin a:not(:last-child) {
        margin-bottom: 12px;
    }

    .content_accountLogin .accountLoginField .dataArea .socialLogin a i {
        font-size: 15px;
    }

    .content_accountLogin .accountLoginField .dataArea .socialLogin a.slGoogle i {
        font-size: 14px;
    }

    .content_accountLogin .accountLoginPreface {
        width: 100%;
        margin-bottom: 50px;
    }

    .content_accountLogin .accountLoginPreface p {
        font-size: 16px;
        line-height: 28px;
    }

    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }

    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }

    .detailText p {
        text-align: center;
    }

    .detailText01 {
        margin-top: 5%;
    }

    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }

    .detailText03 {
        margin-top: 5%;
    }

    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}