* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/contactUs/banner_contactUs.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區 */

.content {
    opacity: 0;
    position: relative;
    top: 50px;
    transition: opacity .8s ease-in-out, top .8s ease-in-out;
}

.content.locate {
    opacity: 1;
    top: 0;
}

/* 主要內容區 - 聯繫資訊 */

.content_info {
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
}

.content_info .infoSoftware {
    width: 20%;
    background: #e3dbd0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #fffaf2;
    padding: 20px 0;
}

.content_info .infoSoftware a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(19 19 19 /50%);
}

.content_info .infoSoftware a i {
    font-size: 30px;
    color: #888;
}

.content_info .infoSoftware a i.fa-youtube {
    font-size: 25px;
}

.content_info .infoSoftware a:first-child:hover i {
    color: #fafafa;
}

.content_info .infoSoftware a:first-child:hover {
    background: #4cc764;
    box-shadow: 0 0 10px 2px #4cc764;
}

.content_info .infoSoftware a:nth-child(2):hover i {
    color: #fafafa;
}

.content_info .infoSoftware a:nth-child(2):hover {
    background: #dc3175;
    box-shadow: 0 0 10px 2px #dc3175;
}

.content_info .infoSoftware a:nth-child(3):hover i {
    color: #fafafa;
}

.content_info .infoSoftware a:nth-child(3):hover {
    background: #ff0000;
    box-shadow: 0 0 10px 2px #ff0000;
}

.content_info .infoSoftware a:nth-child(4):hover i {
    color: #fafafa;
}

.content_info .infoSoftware a:nth-child(4):hover {
    background: #17a2f2;
    box-shadow: 0 0 10px 2px #17a2f2;
}

.content_info .infoSoftware a:nth-child(5):hover i {
    color: #fafafa;
}

.content_info .infoSoftware a:nth-child(5):hover {
    background: #1877f2;
    box-shadow: 0 0 10px 2px #1877f2;
}

.content_info .infoStore {
    width: 80%;
    background: #d7c6af;
    display: flex;
    align-items: center;
    padding-left: 10%;
    position: relative;
}

.content_info .infoStore::after {
    content: '';
    width: 150px;
    height: 150px;
    background: url(../images/contactUs/bg.png) no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content_info .infoStore span {
    font-weight: 600;
    z-index: 1;
}

.content_info .infoStore span p:nth-child(2n-1) {
    display: inline-flex;
    align-items: center;
    border: 1px dashed #d7c6af;
    border-radius: 10px;
    padding: 5px 10px;
    color: #d7c6af;
    background: #242424;
}

.content_info .infoStore span p:nth-child(2n-1) i {
    color: #d7c6af;
    padding-right: 5px;
}

.content_info .infoStore span p:nth-child(2n) {
    margin: 10px 0;
}

/* 主要內容區 - 提問表格 */

.content_ResponseForm {
    max-width: 1000px;
    margin: 0 auto 50px;
    padding-bottom: 30px;
    background: #e3dbd0;
    border-top: 1px solid #fffaf2;
    position: relative;
}

.content_ResponseForm::after {
    content: '';
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #d7c6af;
    filter: blur(2px);
}

.content_ResponseForm form {
    width: 80%;
    margin: 50px auto;
    padding: 50px 30px;
    background: #fffaf2;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.content_ResponseForm form .ResponseFormPreface {
    margin-bottom: 50px;
}

.content_ResponseForm form .ResponseFormOption {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.content_ResponseForm form .ResponseFormOption:nth-child(-n+5) input {
    height: 35px;
    margin: 5px 0;
    border: 1px solid #e1dddd;
    border-radius: 10px;
    padding: 0 15px;
}

.content_ResponseForm form .ResponseFormOption textarea {
    height: 400px;
    margin: 5px 0;
    border: 1px solid #e1dddd;
    border-radius: 10px;
    padding: 0 15px;
    line-height: 2;
}

.content_ResponseForm .ResponseFormOption:nth-child(7) input {
    margin: 5px 0;
}

.content_ResponseForm .ResponseFormOption:nth-child(7) p {
    font-size: 15px;
}

.content_ResponseForm form .ResponseFormConfirm {
    margin-top: 40px;
}

.content_ResponseForm form .ResponseFormConfirm p a {
    color: #bb7008;
}

.content_ResponseForm form .ResponseFormSubmit {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content_ResponseForm form .ResponseFormSubmit input[type="checkbox"] {
    display: none;
}

.content_ResponseForm form .ResponseFormSubmit label a {
    color: #bb7008;
}

.content_ResponseForm form .ResponseFormSubmit label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.content_ResponseForm form .ResponseFormSubmit input[type="checkbox"]:checked+label span::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background: #bb7008;
}

.content_ResponseForm form .ResponseFormSubmit input[type="submit"] {
    width: 120px;
    margin: 15px auto 0;
    border: none;
    color: #fafafa;
    background: #d7c6af;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
}

.content_ResponseForm form .ResponseFormSubmit input[type="checkbox"]:checked~input[type="submit"] {
    background: #bb7008;
    cursor: pointer;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {
    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }
    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }
    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    .header_nav .navContent label::before {
        top: 0;
    }
    .header_nav .navContent label::after {
        top: 100%;
    }
    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }
    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }
    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }
    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }
    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }
    .header_nav .navContent ul li.navContentTool {
        margin: 5px 0;
    }
    .header_nav .navContent ul li.navContentTool a i {
        margin: 0 3px;
    }
    /* 頂部內容區-背景圖&分頁標題註記 */
    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }
    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }
    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }
    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }
    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }
    /* 主要內容區 - 聯繫資訊 */
    .content_info .infoSoftware {
        padding: 10px 0;
    }
    .content_info .infoSoftware a {
        margin: 5px 0;
        width: 35px;
        height: 35px;
    }
    .content_info .infoSoftware a i {
        font-size: 25px;
    }
    .content_info .infoSoftware a i.fa-youtube {
        font-size: 22px;
    }
    .content_info .infoStore {
        padding-left: 5%;
    }
    .content_info .infoStore::after {
        content: '';
        width: 100px;
        height: 100px;
    }
    .content_info .infoStore span p:nth-child(2n) {
        margin: 8px 0;
    }
    /* 主要內容區 - 提問表格 */
    * {
        font-size: 15px;
    }
    .content_ResponseForm form {
        width: 90%;
        margin: 30px auto;
        padding: 30px 25px;
    }
    .content_ResponseForm form .ResponseFormPreface {
        margin-bottom: 35px;
    }
    .content_ResponseForm form .ResponseFormOption:nth-child(-n+5) input {
        height: 30px;
        border-radius: 8px;
        padding: 0 10px;
    }
    .content_ResponseForm form .ResponseFormOption textarea {
        height: 250px;
        border-radius: 8px;
        padding: 0 10px;
    }
    .content_ResponseForm .ResponseFormOption:nth-child(7) p {
        font-size: 14px;
    }
    .content_ResponseForm form .ResponseFormConfirm {
        margin-top: 30px;
    }
    .content_ResponseForm form .ResponseFormSubmit label span {
        width: 13px;
        height: 13px;
        border-radius: 2px;
        margin-right: 3px;
    }
    .content_ResponseForm form .ResponseFormSubmit input[type="checkbox"]:checked+label span::after {
        width: 9px;
        height: 9px;
    }
    .content_ResponseForm form .ResponseFormSubmit input[type="submit"] {
        width: 110px;
        padding: 10px 0;
        border-radius: 20px;
        font-size: 17px;
    }
    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }
    .detailText p {
        text-align: center;
    }
    .detailText01 {
        margin-top: 5%;
    }
    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }
    .detailText03 {
        margin-top: 5%;
    }
    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}