* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區 */

.header {
    height: 100vh;
    background: url(../images/index/banner__index.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* 頂部內容區-小工具 */

.header_tool {
    position: absolute;
    right: 0;
    background: #242424;
    padding: 8px 12px 8px 0;
    border-bottom-left-radius: 10px;
}

.header_tool a i {
    color: #888;
    font-size: 20px;
    margin-left: 12px;
    transition: color .3s ease-in-out;
}

.header_tool a i:hover {
    color: #fafafa;
}

/* 頂部內容區-LOGO */

.header_logo {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo .logoPic {
    width: 150px;
    height: 55vh;
    background: url(../images/index/verticalLogo.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    display: flex;
    align-items: center;
}

.header_nav.navFixedBg {
    background: #242424;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header_nav .navContent {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.header_nav.navFixedBg .navContent {
    max-width: 1000px;
    margin: 0 auto;
}

.header_nav.navFixedBg .navContent a img {
    height: 80%;
    margin-left: 10px;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent a img, .header_nav .navContent input, .header_nav .navContent label, .header_nav .navContent ul li:not(:nth-child(-n+4)) {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.header_nav.navFixedBg .navContent ul {
    width: 100%;
    justify-content: right;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: color .3s ease-in-out;
    position: relative;
    z-index: 2;
}

.header_nav.navFixedBg .navContent ul li:not(:nth-child(-n+4)) {
    display: block;
}

.header_nav.navFixedBg .navContent ul li a {
    color: #fafafa;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav.navFixedBg .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li:hover a {
    color: #fafafa;
}

.header_nav .navContent ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: #242424;
    border-radius: 5px;
    transition: width .3s ease-in-out, height .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
    z-index: -1;
}

.header_nav .navContent ul li:hover a::before {
    width: 120%;
    height: 140%;
    top: -20%;
    left: -10%;
}

.header_nav.navFixedBg .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav.navFixedBg .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav.navFixedBg .navContent ul li a::before {
    content: none;
}

.header_nav.navFixedBg .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav.navFixedBg .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 主要內容區 */

.content {
    margin: 0 auto;
}

/* 主要內容區-關於我們 */

.content_aboutUs {
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 5vh;
}

.content_aboutUs.disappear::before {
    content: '';
    height: 20%;
    width: 50%;
    max-width: 1000px;
    background: linear-gradient(240deg, #feef87, #93e2fe, #fe7e9f);
    opacity: 0;
    position: absolute;
    top: 13vh;
    z-index: -2;
}

.content_aboutUs.appear::before {
    content: '';
    height: 85%;
    width: 50%;
    max-width: 1000px;
    background: linear-gradient(240deg, #feef87, #93e2fe, #fe7e9f);
    opacity: 0.3;
    position: absolute;
    top: 13vh;
    z-index: -2;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
}

.content_aboutUs p {
    line-height: 30px;
    position: relative;
    top: -50px;
    left: -300px;
    opacity: 0;
    transition: top 1.5s ease-in-out, left 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.content_aboutUs p.aboutUsIn {
    top: 0;
    left: 0;
    opacity: 1;
}

.content_aboutUs p:last-child {
    width: 110px;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    position: relative;
    padding: 0 8px;
    line-height: 25px;
}

.content_aboutUs p:last-child a {
    position: relative;
    font-size: 16px;
    transition: color .8s ease-in-out;
}

.content_aboutUs p:last-child a::after {
    content: '';
    background: url(../images/common/horizontalLeaf01.png) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background .8s ease-in-out;
}

.content_aboutUs p:last-child::after {
    content: '';
    height: 100%;
    width: 0;
    background: #242424;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: width .8s ease-in-out, border-top-right-radius .8s ease-in-out, border-bottom-right-radius .8s ease-in-out;
}

.content_aboutUs p:last-child:hover::after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.content_aboutUs p:last-child:hover a {
    color: #fafafa;
    z-index: 2;
}

.content_aboutUs p:last-child:hover a::after {
    background: url(../images/common/horizontalLeaf02.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

.fly {
    opacity: 0;
}

.flygo01 {
    width: 10vw;
    position: absolute;
    animation: flyway01 6s ease-out infinite;
}

.flygo02 {
    width: 12vw;
    position: absolute;
    animation: flyway02 6s ease-out infinite;
}

@keyframes flyway01 {
    0% {
        left: -50%;
        bottom: -20%;
    }
    40% {
        left: 6%;
        bottom: 5%;
    }
    52.5% {
        left: 6%;
        bottom: 5%;
        opacity: 1;
    }
    100% {
        left: 110%;
        bottom: 55%;
        opacity: .7;
    }
}

@keyframes flyway02 {
    0% {
        left: -50%;
        bottom: -10%;
        opacity: 1;
    }
    78.5% {
        left: 85%;
        bottom: 55%;
    }
    90% {
        left: 85%;
        bottom: 55%;
        opacity: .7;
    }
    100% {
        left: 110%;
        bottom: 75%;
    }
}

/* 主要內容區-商品類別 */

.content_orderBouquet {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5vh 0 15vh;
}

.content_orderBouquet h2 {
    text-align: center;
    margin: 45px 0;
}

h2 {
    font-size: 25px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

h2.appear {
    opacity: 1;
}

.content_orderBouquet ul {
    display: flex;
    flex-wrap: wrap;
}

.content_orderBouquet ul li {
    width: 50%;
    display: flex;
    justify-content: center;
}

.content_orderBouquet ul li div.orderBouquet {
    width: 90%;
    margin: 15px 0;
    box-shadow: 0 10px 88px 2px rgb(19 19 19/20%);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.content_orderBouquet ul li div.orderBouquet.appear {
    opacity: 1;
}

.content_orderBouquet ul li:nth-child(2n) div.orderBouquet {
    position: relative;
    top: 50px;
}

.content_orderBouquet ul li a {
    display: flex;
}

.content_orderBouquet ul li div.orderBouquet a img {
    width: 50%;
}

.content_orderBouquet ul li:nth-child(2n-1) a img:first-child, .content_orderBouquet ul li:nth-child(2n) a img:last-child {
    position: relative;
    top: 20px;
    transition: top 1s ease-in-out, transform .3s ease-in-out;
}

.content_orderBouquet ul li:nth-child(2n-1) a img:last-child, .content_orderBouquet ul li:nth-child(2n) a img:first-child {
    position: relative;
    top: -20px;
    transition: top 1s ease-in-out, transform .3s ease-in-out;
}

.content_orderBouquet ul li div.orderBouquet a img.locate {
    top: 0;
}

.content_orderBouquet ul li:nth-child(2n-1) a:hover img:first-child, .content_orderBouquet ul li:nth-child(2n) a:hover img:last-child {
    transform: translate3d(0, -20px, 0);
}

.content_orderBouquet ul li:nth-child(2n-1) a:hover img:last-child, .content_orderBouquet ul li:nth-child(2n) a:hover img:first-child {
    transform: translate3d(0, 20px, 0);
}

.orderBouquetText {
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 0;
    position: relative;
}

.orderBouquetText span {
    color: rgb(136, 136, 136);
}

.orderBouquetText span:nth-child(2) {
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
}

.orderBouquetText h3 {
    font-size: 25px;
    padding: 5px 0;
}

.orderBouquetText p:last-child {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.orderBouquetText p:last-child a {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    padding: 0 5px;
    font-size: 14px;
    align-items: center;
    transition: color .8s ease-in-out;
}

.orderBouquetText p:last-child a::after {
    content: '';
    background: url(../images/common/horizontalLeaf01.png) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 30px;
    height: 25px;
    transition: background .8s ease-in-out;
}

.orderBouquetText p:last-child:hover a {
    color: #fafafa;
}

.orderBouquetText p:last-child a::before {
    content: '';
    height: 100%;
    width: 0;
    background: #242424;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: width .8s ease-in-out, border-top-right-radius .8s ease-in-out, border-bottom-right-radius .8s ease-in-out;
    z-index: -1;
}

.orderBouquetText p:last-child:hover a::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.orderBouquetText p:last-child:hover a::after {
    background: url(../images/common/horizontalLeaf02.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

/* 主要內容區-花朵照護 */

.content_nursery {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20vh;
}

.content_nursery h2 {
    text-align: center;
    margin: 45px 0;
}

.content_nursery .nursery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nurseryText {
    width: 50%;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 60px;
    writing-mode: vertical-rl;
    position: relative;
}

.nurseryText p {
    position: relative;
    top: -80px;
    opacity: 0;
    transition: top .8s ease-in-out, opacity .8s ease-in-out;
}

.nurseryText p.locate {
    top: 0;
    opacity: 1;
}

.nurseryText.disappear::after {
    content: '';
    top: 50%;
    bottom: -50px;
    left: -50px;
    right: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(240deg, #feef87, #93e2fe, #fe7e9f);
    opacity: 0;
    z-index: -1;
}

.nurseryText.appear::after {
    content: '';
    top: 30px;
    bottom: -50px;
    left: -50px;
    right: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(240deg, #feef87, #93e2fe, #fe7e9f);
    opacity: 0.3;
    z-index: -1;
    transition: top 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.nurseryText p:last-child {
    text-align: end;
    margin: 0 30px 30px 0;
}

.nurseryText p:last-child a {
    border-right: 1px solid #242424;
    border-left: 1px solid #242424;
    position: relative;
    padding: 5px 3px 43px;
    transition: color .8s ease-in-out;
    z-index: 2;
}

.nurseryText p:last-child a::after {
    content: '';
    background: url(../images/index/verticalLeaf01.png) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 25px;
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    transition: background .8s ease-in-out;
}

.nurseryText p:last-child a:hover {
    color: #fafafa;
}

.nurseryText p:last-child a::before {
    content: '';
    height: 0;
    width: 100%;
    background: #242424;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: height .8s ease-in-out, border-bottom-left-radius .8s ease-in-out, border-bottom-right-radius .8s ease-in-out;
    z-index: -1;
}

.nurseryText p:last-child a:hover::before {
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nurseryText p:last-child a:hover::after {
    background: url(../images/index/verticalLeaf02.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

.nurseryPic {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.nurseryPic div {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(1.2);
    background: url(../images/index/nursery.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    transition: transform .8s ease-in-out, filter .8s ease-in-out, opacity .8s ease-in-out;
}

.nurseryPic div.locate {
    opacity: 1;
    transform: scale(1);
}

.nurseryPic:hover div {
    transform: scale(1.2);
    filter: brightness(.5);
}

.nurseryPic span {
    color: #242424;
    background: #fffaf2;
    padding: 10px 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px #fffaf2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 0;
    font-weight: 600;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    transition: opacity .8s ease-in-out;
}

.nurseryPic:hover span {
    opacity: 1;
}

/* 底部內容區 */

.footer {
    background-color: #242424;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-height:600px) {
    /* 主要內容區-關於我們 */
    .content_aboutUs {
        height: 400px;
    }
    .content_aboutUs p {
        line-height: 25px;
    }
    .content_aboutUs p:last-child {
        padding: 0 10px;
    }
}

@media screen and (max-width:767px) {
    /* 頂部內容區-小工具 */
    .header_tool {
        display: none;
    }
    /* 頂部內容區-LOGO */
    .header_logo {
        height: 100vh;
    }
    /* 頂部內容區-導覽列 */
    .header_nav, .header_nav.navFixedBg {
        height: 10vh;
        width: 90%;
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
        z-index: 4;
    }
    .header_nav .navContent a img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        margin-left: 10px;
        display: flex;
    }
    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
        z-index: 4;
    }
    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    .header_nav .navContent label::before {
        top: 0;
    }
    .header_nav .navContent label::after {
        top: 100%;
    }
    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }
    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }
    .header_nav .navContent ul, .header_nav.navFixedBg .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }
    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }
    .header_nav .navContent ul li, .header_nav.navFixedBg .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }
    .header_nav .navContent ul li a::before, .header_nav.navFixedBg .navContent ul li a::before {
        content: none;
    }
    .header_nav .navContent ul li a, .header_nav.navFixedBg .navContent ul li a {
        color: #fafafa;
        padding: 5px;
        transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
    }
    .header_nav .navContent ul li:hover a {
        box-shadow: 0 0 10px #fafafa;
        border-radius: 5px;
    }
    .header_nav .navContent ul li.navContentTool {
        display: block;
        margin: 0;
    }
    .header_nav .navContent ul li.navContentTool a {
        padding: 0;
    }
    .header_nav .navContent ul li.navContentTool:hover a {
        box-shadow: none;
    }
    .header_nav .navContent ul li.navContentTool a i {
        color: #fafafa;
        font-size: 20px;
        padding: 5px;
        margin: 5px 3px;
    }
    .header_nav .navContent ul li.navContentTool a i:hover {
        box-shadow: 0 0 10px #fafafa;
        border-radius: 5px;
    }
    /* 主要內容區-關於我們 */
    .content_aboutUs.appear::before {
        width: 70%;
    }
    .content_aboutUs p {
        line-height: 25px;
        font-size: 15px;
    }
    .content_aboutUs p:last-child {
        width: 105px;
        line-height: 25px;
    }
    .content_aboutUs p:last-child a {
        font-size: 15px;
    }
    .content_aboutUs p:last-child a::after {
        width: 30px;
    }
    /* 主要內容區-商品類別 */
    .content_orderBouquet ul {
        justify-content: center;
    }
    .content_orderBouquet ul li {
        width: 80%;
    }
    .content_orderBouquet ul li div.orderBouquet {
        margin: 10px 0;
    }
    .content_orderBouquet ul li:nth-child(2n) div.orderBouquet {
        position: relative;
        top: 0px;
    }
    .content_orderBouquet ul li div.orderBouquet a img:first-child {
        position: relative;
        top: -10px;
    }
    .content_orderBouquet ul li div.orderBouquet a img:last-child {
        position: relative;
        top: 10px;
    }
    .content_orderBouquet ul li div.orderBouquet a:hover img:first-child {
        transform: translate3d(0, 10px, 0);
    }
    .content_orderBouquet ul li div.orderBouquet a:hover img:last-child {
        transform: translate3d(0, -10px, 0);
    }
    .orderBouquetText {
        height: 300px;
    }
    .orderBouquetText span:nth-child(2) {
        font-size: 18px;
    }
    .orderBouquetText h3 {
        font-size: 20px;
    }
    .orderBouquetText p, .orderBouquetText p a {
        font-size: 15px;
    }
    .orderBouquetText p:last-child a {
        padding: 2px 5px;
    }
    .orderBouquetText p:last-child a::after {
        width: 30px;
        height: 18px;
    }
    /* 主要內容區-花朵照護 */
    .nurseryText {
        width: 100%;
        padding-top: 50px;
    }
    .nurseryText p {
        font-size: 15px;
    }
    .nurseryText p:last-child a {
        font-size: 15px;
        padding: 5px 3px 35px ;
    }
    .nurseryText p:last-child a::after {
        width: 21px;
        height: 30px;
    }
    .nurseryPic {
        width: 70%;
    }
    .nurseryPic div {
        width: 100%;
        height: 400px;
    }
    .nurseryPic span {
        font-size: 20px;
    }
    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }
    .detailText p {
        text-align: center;
    }
    .detailText01 {
        margin-top: 5%;
    }
    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }
    .detailText03 {
        margin-top: 5%;
    }
    .detailText .detailText01 span, .detailText .detailText02 ul li a, .detailText .detailText03 span {
        font-size: 15px;
    }
    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width:376px) {
    /* 主要內容區-商品類別 */
    .orderBouquetText {
        height: 360px;
        padding: 30px 30px 0;
    }
    /* 主要內容區-花朵照護 */
    .nurseryPic div {
        height: 300px;
    }
}