* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/nursery/banner_nursery.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區 */

.content_preface, .content_illustration, .content_article, .content_conclusion {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
    background: #e3dbd0;
    position: relative;
    top: 100px;
    left: 0;
    opacity: 0;
    transition: top 1.5s ease-in-out, opacity 2s ease-in-out;
}

.content_preface.locate, .content_illustration.locate, .content_article.locate, .content_conclusion.locate {
    top: 0;

    opacity: 1;
}

/* 主要內容區-俳句 */

.content_preface {
    padding-top: 40px;
}

.content_preface h3 {
    text-align: center;
    font-size: 28px;
}

.content_preface span {
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 5px 0 50px 0;
}

.content_preface p {
    line-height: 28px;
}

/* 主要內容區-插圖 */

.content_illustration img {
    width: 100%;
    margin-top: 30px;
}

/* 主要內容區-文章內容 */

.content_article h4 {
    padding-top: 30px;
    line-height: 40px;
    font-size: 20px;
}

.content_article p {
    line-height: 28px;
}

.content_article p:last-child {
    padding-bottom: 30px;
}

/* 主要內容區-結語 */

.content_conclusion {
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.content_conclusion p {
    line-height: 28px;
}

.content_conclusion hr+p {
    padding-top: 30px;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {
    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }
    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }
    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    .header_nav .navContent label::before {
        top: 0;
    }
    .header_nav .navContent label::after {
        top: 100%;
    }
    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }
    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }
    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }
    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }
    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }
    .header_nav .navContent ul li.navContentTool {
        margin: 5px 0;
    }
    .header_nav .navContent ul li.navContentTool a i {
        margin: 0 3px;
    }
    /* 頂部內容區-背景圖&分頁標題註記 */
    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }
    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }
    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }
    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }
    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }
    /* 主要內容區 */
    *{
        font-size: 15px;
    }
    /* 主要內容區-俳句 */
    .content_preface {
        padding-top: 30px;
    }
    .content_preface h3 {
        font-size: 25px;
    }
    .content_preface span {
        font-size: 14px;
        margin: 0 0 30px 0;
    }
    .content_preface p {
        line-height: 25px;
    }
    /* 主要內容區-文章內容 */
    .content_article h4 {
        line-height: 30px;
        font-size: 18px;
    }
    .content_article p {
        line-height: 25px;
    }
    .content_article p:last-child {
        padding-bottom: 25px;
    }
    /* 主要內容區-結語 */
    .content_conclusion {
        padding-bottom: 50px;
    }
    .content_conclusion p {
        line-height: 25px;
    }
    .content_conclusion hr+p {
        padding-top: 25px;
    }
    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }
    .detailText p {
        text-align: center;
    }
    .detailText01 {
        margin-top: 5%;
    }
    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }
    .detailText03 {
        margin-top: 5%;
    }
    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}