/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/oBSingleSeries/banner_oBSingleSeries.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}