* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1960 - 300)));
    list-style: none;
    font-family: 'PingFang-SC', 'Lucida Grande', 'Helvetica', 'Arial', '微軟正黑體修正', '微軟正黑體', sans-serif;
    color: #242424;
    text-decoration: none;
}

body {
    background: #fffaf2;
}

/* 頂部內容區-導覽列 */

.header_nav {
    height: 10vh;
    width: 100%;
    background: #242424;
    position: fixed;
    z-index: 2;
}

.header_nav .navContent {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_nav .navContent a img {
    height: 80%;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header_nav .navContent input, .header_nav .navContent label {
    display: none;
}

.header_nav .navContent ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_nav .navContent ul li:last-child {
    display: none;
}

.header_nav.navPlusTop .navContent ul li:last-child {
    display: block;
}

.header_nav .navContent ul li a {
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 1.5px;
    padding: 5px;
    margin: 0 2px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li:hover a {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

.header_nav .navContent ul li.navContentTool {
    margin: 0 5px;
}

.header_nav .navContent ul li.navContentTool a {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.header_nav .navContent ul li.navContentTool a i {
    color: #fafafa;
    font-size: 20px;
    padding: 5px;
    transition: box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

.header_nav .navContent ul li.navContentTool a i:hover {
    box-shadow: 0 0 10px #fafafa;
    border-radius: 5px;
}

/* 頂部內容區-背景圖&分頁標題註記 */

.header_bannerTitle {
    background: url(../images/orderBouquet/banner_orderBouquet.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 10vh;
}

.header_bannerTitle .tt1 {
    position: absolute;
    bottom: -40px;
    right: 3vw;
}

.header_bannerTitle .tt1 span {
    display: block;
    line-height: 40px;
}

.header_bannerTitle .tt1 span>span {
    display: inline-block;
    color: #fafafa;
    font-weight: bold;
    background-color: #242424;
}

.header_bannerTitle .tt1 span.tt1-1 span {
    padding: 5px 15px;
    font-size: 28px;
}

.header_bannerTitle .tt1 span.tt1-2 span {
    padding: 0 15px;
}

/* 主要內容區-俳句 */

.content_preface {
    max-width: 1000px;
    margin: 50px auto 100px;
    writing-mode: vertical-rl;
    position: relative;
}

.content_preface p {
    line-height: 70px;
    letter-spacing: 3px;
    position: relative;
    bottom: -20px;
    opacity: 0;
    transition: opacity 1s ease-in-out, bottom .8s ease-in-out;
}

.content_preface p.locate {
    bottom: 0;
    opacity: 1;
}

.content_preface .prefaceBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 250px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 10% 10%, 90% 10%, 90% 90%, 10% 10%, 25% 100%, 100% 100%, 100% 0%);
    background: linear-gradient(240deg, #feef87, #93e2fe, #fe7e9f);
    z-index: -2;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.content_preface .prefaceBg.appear {
    opacity: .3;
}

/* 主要內容區 - 花束訂購種類 */

.content_Bouquet {
    max-width: 1000px;
    margin: 50px auto;
}

.content_Bouquet .bouquetType {
    display: flex;
    width: 95%;
    margin: 40px auto;
    box-shadow: 0 10px 88px 2px rgb(19 19 19 / 20%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content_Bouquet .bouquetType.appear {
    opacity: 1;
}

.content_Bouquet .bouquetType:nth-child(2n-1) {
    flex-direction: row-reverse;
}

.content_Bouquet .bouquetType>a {
    display: flex;
    width: 50%;
}

.content_Bouquet .bouquetType>a img {
    width: 50%;
    object-fit: cover;
    object-position: center center;
}

.content_Bouquet .bouquetType:nth-child(2n-1)>a img:first-child, .content_Bouquet .bouquetType:nth-child(2n)>a img:last-child {
    position: relative;
    top: 20px;
}

.content_Bouquet .bouquetType:nth-child(2n-1)>a img:last-child, .content_Bouquet .bouquetType:nth-child(2n)>a img:first-child {
    position: relative;
    top: -20px;
    transition: top 1s ease-in-out;
}

.content_Bouquet .bouquetType:nth-child(2n-1)>a img:first-child.locate, .content_Bouquet .bouquetType:nth-child(2n)>a img:last-child.locate {
    top: -20px;
    border: 1px solid #fff;
    transition: transform .3s ease-in-out, top 1s ease-in-out;
}

.content_Bouquet .bouquetType:nth-child(2n-1)>a img:last-child.locate, .content_Bouquet .bouquetType:nth-child(2n)>a img:first-child.locate {
    top: 0;
    border: 1px solid #fff;
}

.content_Bouquet .bouquetType:nth-child(2n-1)>a:hover img:first-child, .content_Bouquet .bouquetType:nth-child(2n)>a:hover img:last-child {
    transform: translateY(20px);
}

.content_Bouquet .bouquetType .bouquetTypeText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.content_Bouquet .bouquetType .bouquetTypeText div {
    color: #888;
}

.content_Bouquet .bouquetType .bouquetTypeText div span {
    color: #888;
    font-size: 26px;
}

.content_Bouquet .bouquetType .bouquetTypeText h3 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}

.content_Bouquet .bouquetType .bouquetTypeText>span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child {
    text-align: end;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    display: inline-flex;
    width: 103px;
    margin-top: 20px;
    position: relative;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #242424;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: width .8s ease-in-out, border-top-right-radius .8s ease-in-out, border-bottom-right-radius .8s ease-in-out;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a:hover::before {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a span {
    position: relative;
    padding: 2px 0 2px 5px;
    font-size: 15px;
    transition: color .8s ease-in-out;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a:hover span {
    color: #fafafa;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a span::after {
    content: '';
    background: url(../images/common/horizontalLeaf01.png) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: -1px;
    transition: background .8s ease-in-out;
}

.content_Bouquet .bouquetType .bouquetTypeText p:last-child a:hover span::after {
    background: url(../images/common/horizontalLeaf02.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

/* 底部內容區-店家資訊&店鋪圖片 */

.footer {
    background-color: #242424;
}

.footer_detail {
    padding: 5vh 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.detailText {
    width: 50%;
    padding-left: 5%;
}

.detailText p {
    height: 15%;
}

.detailText p img {
    width: 50%;
}

.detailText01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}

.detailText01 span {
    color: #fafafa;
}

.detailText02 {
    display: flex;
    justify-content: space-between;
    height: 35%;
    padding-right: 20%;
}

.detailText02 ul li:first-child {
    color: #fafafa;
}

.detailText02 ul li {
    margin: 5px 0;
}

.detailText02 ul li a {
    color: #858585;
    position: relative;
    font-size: 15px;
    transition: color .4s ease-in-out;
}

.detailText02 ul li:hover a {
    color: #fafafa;
}

.detailText02 ul li a:after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #fafafa;
    transition: width .4s ease-in-out;
}

.detailText02 ul li:hover a:after {
    width: 100%;
}

.detailText03 {
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.detailText03 span {
    color: #fafafa;
}

.detailPic {
    width: 50%;
    padding-right: 5%;
}

.detailPic img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:767px) {
    /* 頂部內容區-導覽列 */
    .header_nav {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 8px #fafafa;
    }
    .header_nav .navContent label {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 8%;
        height: 30%;
        cursor: pointer;
    }
    .header_nav .navContent label::before, .header_nav .navContent label::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #fafafa;
        position: absolute;
        transition: transform .3s ease-in-out, top .3s ease-in-out;
    }
    .header_nav .navContent label::before {
        top: 0;
    }
    .header_nav .navContent label::after {
        top: 100%;
    }
    .header_nav .navContent input[type=checkbox]:checked+label::before {
        top: 50%;
        transform: rotate(-35deg);
    }
    .header_nav .navContent input[type=checkbox]:checked+label::after {
        top: 50%;
        transform: rotate(35deg);
    }
    .header_nav .navContent ul {
        width: 95%;
        height: 0;
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        background: #242424;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 2px 8px #fafafa;
    }
    .header_nav .navContent input[type=checkbox]:checked~ul {
        height: auto;
        padding: 20px 0;
    }
    .header_nav .navContent ul li {
        margin: 10px 0;
        text-align: center;
    }
    .header_nav .navContent ul li.navContentTool {
        margin: 5px 0;
    }
    .header_nav .navContent ul li.navContentTool a i {
        margin: 0 3px;
    }
    /* 頂部內容區-背景圖&分頁標題註記 */
    .header_bannerTitle {
        height: 30vh;
        margin-bottom: 5vh;
    }
    .header_bannerTitle .tt1 {
        bottom: -30px;
        right: 0;
    }
    .header_bannerTitle .tt1 span {
        line-height: 30px;
    }
    .header_bannerTitle .tt1 span.tt1-1 span {
        padding: 5px 10px;
        font-size: 20px;
    }
    .header_bannerTitle .tt1 span.tt1-2 span {
        padding: 0 10px;
    }
    /* 主要內容區-俳句 */
    .content_preface p {
        font-size: 16px;
    }
    /* 主要內容區 - 花束訂購種類 */
    .content_Bouquet .bouquetType {
        display: block;
    }
    .content_Bouquet .bouquetType>a {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .content_Bouquet .bouquetType>a img {
        width: 50%;
    }
    .content_Bouquet .bouquetType:nth-child(2n-1)>a img:first-child, .content_Bouquet .bouquetType:nth-child(2n)>a img:last-child {
        position: relative;
        top: 15px;
    }
    .content_Bouquet .bouquetType:nth-child(2n-1)>a img:last-child, .content_Bouquet .bouquetType:nth-child(2n)>a img:first-child {
        position: relative;
        top: -15px;
        transition: top 1s ease-in-out;
    }
    .content_Bouquet .bouquetType:nth-child(2n-1)>a img:first-child.locate, .content_Bouquet .bouquetType:nth-child(2n)>a img:last-child.locate {
        top: -15px;
        transition: transform .3s ease-in-out, top 1s ease-in-out;
    }
    .content_Bouquet .bouquetType:nth-child(2n-1)>a img:last-child.locate, .content_Bouquet .bouquetType:nth-child(2n)>a img:first-child.locate {
        top: 0;
    }
    .content_Bouquet .bouquetType:nth-child(2n-1)>a:hover img:first-child, .content_Bouquet .bouquetType:nth-child(2n)>a:hover img:last-child {
        transform: translateY(15px);
    }
    .content_Bouquet .bouquetType .bouquetTypeText {
        width: 100%;
        padding: 20px;
    }
    * {
        font-size: 15px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText div span {
        font-size: 22px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText h3 {
        font-size: 22px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText>span {
        font-size: 14px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText p:last-child a {
        width: 90px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText p:last-child a span {
        font-size: 13px;
    }
    .content_Bouquet .bouquetType .bouquetTypeText p:last-child a span::after {
        top: 0;
    }
    /* 底部內容區-店家資訊&店鋪圖片 */
    .footer_detail {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailText {
        width: 70%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 5%;
    }
    .detailText p {
        text-align: center;
    }
    .detailText01 {
        margin-top: 5%;
    }
    .detailText02 {
        padding: 0;
        margin-top: 5%;
    }
    .detailText03 {
        margin-top: 5%;
    }
    .detailPic {
        width: 70%;
        padding-right: 0;
        margin: 0 auto;
    }
}